@import "./variables";

/* ---------------------------------------------------------------------------
Common styles
-----------------------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;

  color: $text_primary;
  background: linear-gradient(45deg, #ff6b6b, #ff9e9e, #feca57, #ff6b6b);
}

main {
  width: 100vw;
  min-height: 100vh;
}

a {
  color: currentColor;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .main_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

/* ---------------------------------------------------------------------------
Title
-----------------------------------------------------------------------------*/
.title {
  margin-bottom: 40px;
  padding: 20px;

  font-weight: 600;
  font-size: 32px;
  text-align: center;
}
